.card {
  height: 20rem;
  width: 100%;

  position: relative;

  align-content: flex-end;

  border-radius: 33px;
  background-color: var(--acento);
}

.card__number {
  height: 4.5rem;
  width: 4.5rem;
  padding-top: 0.5rem;

  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-radius: 50%;
  background-color: var(--acento);
}

.card__number span {
    font-weight: 900;
    font-size: 1.5rem;
    color: #000000;
}

.card__image {
  height: 7.5rem;
  width: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__info {
  width: 100%;
  padding: 1.25rem;

  border-radius: 0 0 33px 33px;
  background-color: var(--primary-light);
}

.info__tag {
  text-align: center;

  font-weight: 600;
  font-size: 1rem;
  color: #000000;
}

.info__description {
  text-align: center;

  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}
