.hero {
    height: calc(100vh - 82px);
    background-image: url("onboarding-herosection.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-content {
    background: #FFFBF0B2;
    width: 720px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-title {
    font-size: 32px;
}

.hero-text {
    text-align: center;
    font-size: 20px;
}

.hero-buttons {
    width: 720px;
    display: flex;
    gap: 2rem;
}

.hero-btn {
    background: #A7D6EF;
    color: black;
    box-shadow: 4px 4px 10px 0px #00000040;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease-out;
}

.hero-btn:hover {
    background: #82BFE0;
}

@media(max-width: 1400px){
    .hero-title {
        font-size: 28px;
    }

    .hero-text {
        font-size: 1rem;
    }

    .hero-btn {
        font-size: 14px;
    }
}

@media(max-width: 768px){
    .hero {
        padding: 0 24px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-buttons {
        width: 100%;
    }
}

@media(max-width: 576px){
    .hero {
        min-height: 100vh;
        padding: 0 12px;
        gap: 1rem;
    }

    .hero-buttons {
        width: 100%;
        gap: 1rem;
    }

    .hero-buttons {
        flex-direction: column;
    }
}