.hero {
    height: calc(100vh - 82px);
    padding: 0 24px;
    background-image: url("onboarding-herosection.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-content {
    width: 80%;
    background: #FFFBF0B2;
    padding: 19px 62px;
    backdrop-filter: blur(30px);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-title {
    font-size: 36px;
}

.hero-text {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.hero-buttons {
    display: flex;
    gap: 2rem;
}

.hero-btn {
    background: #A7D6EF;
    text-decoration: none;
    color: black;
    box-shadow: 4px 4px 10px 0px #00000040;
    padding: 24px 0;
    width: 474px;
    border-radius: 2rem;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}