.navbar {
    background: linear-gradient(180deg, #1C274C -99%, #9AB3AF 16.68%, #9AB3AF 65.91%, rgba(167, 214, 239, 0.5) 127.85%);
}

.navbar-nav {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    font-size: 36px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav-logo img {
    height: 82px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav-link,
.nav-button {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.nav-button {
    background: #2A9ED9;
    padding: 10px 41px;
    border-radius: 2rem;
}