.search {
  width: 100%;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.ubication__tag {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
}

.search__cards {
  width: 100%;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
