/* ChangePassword.css */
.change-password-container {
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
}

.change-password-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.change-password-container section {
    margin-bottom: 15px;
}

.change-password-container label {
    font-weight: bold;
}

.change-password-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.change-password-container button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.change-password-container button:hover {
    background-color: #2980b9;
}