.container {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.image-container{
    border-radius: 10px 10px 0 0;
    background-color: var(--green-dark1);
}
.image {
    /* width: 20px; */
    height: 120px;
    padding: 10px 0;
}
.text-container{
    border-radius: 0 0 10px 10px;
    background-color: var(--beige-dark1);
}
.text {
    padding: 15px 0;
    font-size: 20px;
}